#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

.cont {
  display: none;
}

h1 {
  text-align: center;
}

body {
  background-image: url("../img/openbook.png");
}
